
<input type="text" [(ngModel)] = 'fruit' placeholder="Add">
<input type="text" [(ngModel)] = 'searchQuery' placeholder="search">
<button  (click)='addFruit(fruit)'>{{'KEY_SAVE' | translate: lang}}</button>

<ul>
    <li *ngFor='let fruit of fruits | filter: searchQuery; let i = index'>
        <span (click)='deleteFruit(i)'>{{fruit}} - {{i}} </span>
      </li>
</ul>




<a class="nav-link" routerLink="/result" routerLinkActive="active"> go to result </a>
<a class="nav-link" routerLink="" routerLinkActive="active"> go to todo </a>
